*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: darkorange;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}
.box{
    border: 2px dashed darkred;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.counter{
    font-size: 2rem;
    font-weight: 900;
}